*::-webkit-scrollbar {
    display: none;
}


.c-sec{
    height: 832vh;
}

.nav-ul {
    margin-left: 650px;
}

.nav-ul li:hover {
    border-bottom: 1px solid white;
}

.nav-bar {
    /* background-color: rgba(0, 0, 0, 0.044); */
    background-color: #222222;
}

.f-b{
    background-color: #DA9C27;
}
.f-t{
    accent-color: #FFEAC2;
}

.f-y{
    accent-color: #DA9C27;
}
.f-n{
    accent-color: #FFEAC2;
}

input[type="radio"] {

    accent-color:#DA9C27 ;
    outline: none;
    border: none;
    

}

.review {
    color: #DA9C27A6;
}

.tik-info {
    color: #2222229E;
}
.test-col {
    color: #222222CF;
}

.review-box {
    height: 30rem;
    width: 25rem;
}
